name: Trigger auto deployment for wearever

# When this action will be executed
on:
  # Automatically trigger it when detected changes in repo
  push:
    branches: 
      [ main ]
    paths:
    - '**'
    - '.github/workflows/wearever-AutoDeployTrigger-ea4bcfd4-7c55-4915-8037-daafda2ed2b9.yml'

  # Allow manual trigger 
  workflow_dispatch:      

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    permissions: 
      id-token: write #This is required for requesting the OIDC JWT Token
      contents: read #Required when GH token is used to authenticate with private repo

    steps:
      - name: Checkout to the branch
        uses: actions/checkout@v2

      - name: Azure Login
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.WEAREVER_AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.WEAREVER_AZURE_TENANT_ID }}
          subscription-id: ${{ secrets.WEAREVER_AZURE_SUBSCRIPTION_ID }}

      - name: Build and push container image to registry
        uses: azure/container-apps-deploy-action@v2
        with:
          appSourcePath: 'backend'
          _dockerfilePathKey_: _dockerfilePath_
          _targetLabelKey_: _targetLabel_
          registryUrl: 
          registryUsername: ${{ secrets.WEAREVER_REGISTRY_USERNAME }}
          registryPassword: ${{ secrets.WEAREVER_REGISTRY_PASSWORD }}
          containerAppName: wearever
          resourceGroup: WearEver
          imageToBuild: default/[parameters('containerAppName')]:${{ github.sha }}
          _buildArgumentsKey_: |
            _buildArgumentsValues_





